@page
@model Gestion_livres.Pages.Create_LivreModel
@{
}
<br />
<h2>Nouveau Livre</h2>
@if (Model.errormessage.Length > 0)
{
<div class='alert alert-warning alert-dismissible fade show' role='alert'>
    <strong>@Model.errormessage</strong>
    <button type='button' class='btn_close' date-bs-dismiss='alert' arialabel='Close'></button>
</div>}
<form method="post" enctype="multipart/form-data">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Titre</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="titre"
                   value="@Model.livreInfo.titre">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Isbn</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="isbn"
                   value="@Model.livreInfo.isbn">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Idediteur</label>
        <div class="col-sm-6">
            <select class="form-control" name="idediteur">
                <option value="">Select an Editor</option>
                @foreach (var edito in Model.listEditeur)
                {
                    <option value="@edito.idEditeur">@edito.nomEditeur</option>
                }
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Idauteur</label>
        <div class="col-sm-6">
            <select class="form-control" name="idauteur">
                <option value="">Select an author</option>
                @foreach (var author in Model.listAuteur)
                {
                    <option value="@author.idAuteur">@author.nomAuteur</option>
                }
            </select>
         @*   <input type="text" class="form-control" name="idauteur"
                   value="@Model.livreInfo.idAuteur">*@
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Idcat</label>
        <div class="col-sm-6">

            <select class="form-control" name="idcat">
                <option value="">Select Category</option>
                @foreach (var cat in Model.listCategorie)
                {
                    <option value="@cat.idCat">@cat.nomCat</option>
                }
            </select>
    @*        <input type="text" class="form-control" name="idcat"
                   value="@Model.livreInfo.idCat">*@
        </div>
       
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="description"
                   value="@Model.livreInfo.descripLivre">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Année D'édition</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="annee"
                   value="@Model.livreInfo.anneeEdition">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Image</label>
        <div class="col-sm-6">
            <input type="file" class="form-control" name="ImageFile" value="@Model.livreInfo.imagepath">
        </div>
    </div>
    @if (Model.SuccessMessage.Length > 0)
    {
<div class="row mb-3">
    <div class='alert alert-success alert-dismissible fade show' role='alert'>
        <strong>@Model.SuccessMessage</strong>
        <button type='button' class='btn_close' date-bs-dismiss='alert' arialabel='Close'></button>
    </div>
</div>}
    <div id="divv" class="row mb-3">
        <div class="offset-sm3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary"> Submit </button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>

    <style>
        #divv {
            display : flex;
            justify-content : center;
            align-items : center;
            margin-top : 40px;
        }
    </style>
</form>

