@page
@model Gestion_livres.Pages.Edit_LivreModel
@{
}
<br />
<h2>Les informations de livre </h2>
<form method="post">
    <input type="hidden" name="id" value="@Model.livreinfo.idLivre">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Titre</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="titre"
                   value="@Model.livreinfo.titre">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Isbn</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="isbn"
                   value="@Model.livreinfo.isbn">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Editeur</label>
        <div class="col-sm-6">
         

            <select class="form-control" name="idediteur">
                @foreach (var edi in Model.listEditeur)
                {
                    if (edi.idEditeur == Model.livreinfo.idEditeur)
                    {
                        <option value="@edi.idEditeur" selected>@edi.nomEditeur</option>
                    }
                    else
                    {
                        <option value="@edi.idEditeur">@edi.nomEditeur</option>
                    }
                }
            </select>

        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Auteur</label>
        <div class="col-sm-6">
  @*          <input type="text" class="form-control" name="idauteur"
                   value="@Model.livreinfo.idAuteur">*@

            <select class="form-control" name="idauteur">
                @foreach (var aut in Model.listAuteur)
                {
                    if (aut.idAuteur == Model.livreinfo.idAuteur)
                    {
                        <option value="@aut.idAuteur" selected>@aut.nomAuteur</option>
                    }
                    else
                    {
                        <option value="@aut.idAuteur">@aut.nomAuteur</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Categorie</label>
        <div class="col-sm-6">
            <select class="form-control" name="idcat">
                @foreach (var cat in Model.listCategorie)
                {
                    if (cat.idCat == Model.livreinfo.idCat)
                    {
                        <option value="@cat.idCat" selected>@cat.nomCat</option>
                    }
                    else
                    {
                        <option value="@cat.idCat">@cat.nomCat</option>
                    }
                }
            </select>
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="description"
                   value="@Model.livreinfo.descripLivre">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Année d'édition</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="annee"
                   value="@Model.livreinfo.anneeEdition">
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary"> Submit </button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>