@page
@model Gestion_livres.Pages.EditeurModel
@{
}
<br>
<h2> Liste des  Editeurs</h2>
<a class='btn btn-primary btn-sm' href='/Create_edit'> Nouveau Editeur</a>
<br />
<hr />
<table class=" table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom  </th>
            <th>Description  </th>
            <th>Email  </th>
            <th>Télephonne  </th>
            <th> Adresse </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listEditeur)
        {
        <tr>
            <td>@item.idEditeur</td>
            <td>@item.nomEditeur</td>
            <td>@item.descriptionEditeur</td>
            <td>@item.emailEditeur</td>
            <td>@item.telephoneEditeur</td>
            <td>@item.adresseEditeur</td>
            <td>
                <a class='btn btn-primary btn-sm' href='/Edit_Editeur?id=@item.idEditeur'> Editer </a>
                <a class='btn btn-danger btn-sm' href='/Delete_edit?id=@item.idEditeur'> Supprimer</a>
            </td>
        </tr>
        }
    </tbody>
</table>
