@page
@model Gestion_livres.Pages.LivreModel
@{
}
<br>
<h2> liste des Livres</h2>
<a class='btn btn-primary btn-sm' href='/Create_Livre'> Nouveau livre</a>
<br />
<hr />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre </th>
            <th>ISBN </th>
            <th>Editeur </th>
            <th>Auteur</th>
            <th>Catégorie</th>
            <th>Description </th>
            <th>Anneé d'edition </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listLivre)
        {
        <tr>
            <td>@item.idLivre</td>
            <td>@item.titre</td>
            <td>@item.isbn</td>
            <td>@item.idEditeur</td>
            <td>@item.idAuteur</td>
            <td>@item.idCat</td>
            <td>@item.descripLivre</td>
            <td>@item.anneeEdition</td>
            <td>
                <a class='btn btn-primary btn-sm' href='/Edit_livre?id=@item.idLivre'> Editer </a>
                <a class='btn btn-danger btn-sm' href='/Delete_livre?id=@item.idLivre'> Supprimer</a>
            </td>
        </tr>
        }
    </tbody>
</table>