@page
@model Gestion_livres.Pages.LivreModel
@{
}
<br>
<h2> liste des Livres</h2>
<a class='btn btn-primary btn-sm' href='/Create_Livre'> Nouveau livre</a>
<br />
<hr />
<table class=" table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Titre </th>
            <th scope="col">ISBN </th>
            <th scope="col">Editeur </th>
            <th scope="col">Auteur</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Description </th>
            <th scope="col">Anneé d'edition </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listLivre)
        {
            <tr>
                <td>@item.IdLivre</td>
                <td>@item.Titre</td>
                <td>@item.Isbn</td>
                <td>@item.NomEditeur</td>
                <td>@item.NomAuteur</td>
                <td>@item.NomCategorie</td>
                <td>@item.DescripLivre</td>
                <td>@item.AnneeEdition</td>
                <td>
                    <a class='btn btn-primary btn-sm' href='/Edit_livre?id=@item.IdLivre'> Editer </a>
                    <a class='btn btn-danger btn-sm' href='/Delete_livre?id=@item.IdLivre'> Supprimer</a>
                </td>
            </tr>
        }
    </tbody>

</table>